@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url('/fonts/montserrat-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	src: url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2');
}

/* Nunito */
@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url('/fonts/nunito-sans-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 600;
	src: url('/fonts/nunito-sans-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: url('/fonts/nunito-sans-bold.woff2') format('woff2');
}

:root {
	--swiper-pagination-color: oklch(var(--s));
	--swiper-pagination-bullet-size: 12px;
	--swiper-pagination-bullet-width: 12px;
	--swiper-pagination-bullet-height: 12px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/* Klaviyo form styling */
@layer {
	/* header form */
	.header-klaviyo-form div[data-testid='form-component'] {
		@apply relative !bg-secondary;
	}

	.header-klaviyo-form button {
		@apply !btn !btn-primary !text-base !font-extrabold;
	}

	.header-klaviyo-form input {
		@apply !input !input-bordered w-full max-w-xs !text-secondary;
	}

	/* hero form */
	.hero-klaviyo-form button {
		@apply !btn !btn-primary !font-extrabold !text-secondary;
	}

	.hero-klaviyo-form input {
		@apply !input !input-bordered w-full max-w-xs text-secondary hover:!border-[oklch(var(--bc)/0.2)];
	}

	/* step form */
	.step-klaviyo-form button {
		@apply !btn !btn-secondary !font-extrabold !text-primary;
	}

	.step-klaviyo-form input {
		@apply !input !input-bordered w-full max-w-xs !border-black text-secondary focus:!border-black focus:!outline-none;
	}

	.step-klaviyo-form div[data-testid='form-component'] {
		@apply relative !bg-primary;
	}
}
