@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url('/fonts/montserrat-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	src: url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2');
}

/* Nunito */
@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url('/fonts/nunito-sans-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 600;
	src: url('/fonts/nunito-sans-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: url('/fonts/nunito-sans-bold.woff2') format('woff2');
}

html {
	scroll-behavior: smooth;
}

* {
	scrollbar-color: currentColor;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/* Swiper Custom Styles */
:root {
	--swiper-pagination-bullet-size: 12px;
	--swiper-pagination-bullet-width: 12px;
	--swiper-pagination-bullet-height: 12px;
}
