@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url('/fonts/montserrat-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	src: url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2');
}
