<section class="relative flex justify-center overflow-hidden text-center">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="100%"
		height="74"
		viewBox="0 0 1440 74"
		fill="none"
		preserveAspectRatio="none"
		class="absolute -top-[1px] z-10 h-9 min-w-[700px] md:h-[74px] md:min-w-0"
	>
		<path
			d="M257.208 17.6073C351.996 30.626 451.464 56.251 547.392 66.7573C646.104 77.5948 749.064 76.9635 847.932 66.5135C917.34 59.1823 984.732 47.0948 1054.33 40.351C1183.66 27.9607 1317.04 34.2484 1440 58.5323V0.626015H0V15.751C81.3719 1.30102 173.148 6.05727 257.208 17.6073Z"
			fill="#242424"></path>
	</svg>
	<div class="mt-9 max-w-[500px] px-4 py-9 md:mt-[74px] md:py-[72px]">
		<h2 class="mb-4 font-monsterrat text-[40px] font-bold text-secondary">FAQs</h2>
		<p class="mb-4 text-lg md:mb-8">You got questions. We got answers.</p>
		<div class="space-y-4 text-left">
			<div class="collapse collapse-plus bg-primary">
				<input type="radio" name="my-accordion-3" />
				<div class="collapse-title text-lg">When will a winner be announced?</div>
				<div class="collapse-content">
					<p>A winner will be announced at the end of every month.</p>
				</div>
			</div>
			<div class="collapse collapse-plus bg-primary">
				<input type="radio" name="my-accordion-3" />
				<div class="collapse-title text-lg">Can I have multiple entries?</div>
				<div class="collapse-content">
					<p>
						Enter with a single email address and add entries by following us on FetLife and joining
						our Subreddit.
					</p>
				</div>
			</div>
			<div class="collapse collapse-plus bg-primary">
				<input type="radio" name="my-accordion-3" />
				<div class="collapse-title text-lg">How do I increase my chances of winning?</div>
				<div class="collapse-content">
					<ol class="ml-4 list-decimal font-bold">
						<li>Email<span class="font-normal"> - Sign-up with your email for 1 entry</span></li>
						<li>
							FetLife<span class="font-normal">
								- +3 entries by commenting on our monthly giveaway Fetlife post and adding as a
								friend or following Motorbunny.</span
							>
						</li>
						<li>
							Reddit<span class="font-normal">
								- You’ll receive +2 entries by commenting on our pinned giveaway post on
								r/Motorbunny.
							</span>
						</li>
					</ol>
				</div>
			</div>
			<div class="collapse collapse-plus bg-primary">
				<input type="radio" name="my-accordion-3" />
				<div class="collapse-title text-lg">Will I have to pay for shipping?</div>
				<div class="collapse-content">
					<p>No, free standard ground shipping will be provided.</p>
				</div>
			</div>
			<div class="collapse collapse-plus bg-primary">
				<input type="radio" name="my-accordion-3" />
				<div class="collapse-title text-lg">Can I win more than once?</div>
				<div class="collapse-content">
					<p>One winner per household.</p>
				</div>
			</div>
			<div class="collapse collapse-plus bg-primary">
				<input type="radio" name="my-accordion-3" />
				<div class="collapse-title text-lg">Can I win if I’m outside USA?</div>
				<div class="collapse-content">
					<p>Yes, international entries are valid.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	h2 {
		text-shadow: 3px 3px 0px #ff7992;
	}
</style>
