---
import { Image } from 'astro:assets';
import logo from '../../assets/logos/motorbunny-logo-pink-text.png';
---

<section class="overflow-hidden">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="100%"
		height="57"
		viewBox="0 0 1440 57"
		fill="none"
		preserveAspectRatio="none"
		class="h-9 min-w-[700px] md:h-[74px] md:min-w-0"
	>
		<path
			d="M1182.79 44.0942C1088 34.2 988.536 14.725 892.608 6.74024C793.896 -1.49626 690.936 -1.01651 592.068 6.92549C522.66 12.4972 455.268 21.6837 385.668 26.809C256.336 36.2256 122.959 31.447 0 12.9912L0 57H1440V45.505C1358.63 56.487 1266.85 52.8722 1182.79 44.0942Z"
			fill="#242424"></path>
	</svg>
	<div class="flex justify-center bg-secondary py-10 text-center text-base-200 md:py-16">
		<div class="flex flex-col items-center gap-[10px]">
			<Image class="min-w-[180px]" src={logo} alt="motorbunny.com logo" />
			<p class="text-sm">© 2024 Motorbunny. All Rights Reserved.</p>
			<div class="flex flex-wrap justify-center gap-3 px-2">
				<a href="https://motorbunny.com/policies/privacy-policy" target="_blank" class="underline"
					>Privacy Policy</a
				>
				<a href="https://motorbunny.com/policies/terms-of-service" target="_blank" class="underline"
					>Terms of Service</a
				>
				<a
					href="https://motorbunny.com/pages/win-a-motorbunny-giveaway-terms-conditions"
					target="_blank"
					class="underline">Terms & Conditions</a
				>
			</div>
		</div>
	</div>
</section>
