---
import { Image } from 'astro:assets';
import logo from '../../assets/logos/motorbunny-logo-pink-text.png';
import logoSmall from '../../assets/logos/mb-icon-logo-pink.png';
import { MoveRight } from 'lucide-astro';
---

<header class="sticky z-50 flex h-[76px] items-center bg-secondary px-4 py-2 md:px-8">
	<div class="flex w-full items-center justify-between gap-2">
		<a href="https://motorbunny.com">
			<Image class="hidden min-w-[180px] sm:block" src={logo} alt="motorbunny.com logo" />
			<Image
				class="block min-w-10 sm:hidden"
				src={logoSmall}
				alt="motorbunny.com logo"
				width={40}
			/>
		</a>
		<p class="hidden whitespace-nowrap text-xl font-semibold text-primary min-[900px]:block">
			WIN A MOTORBUNNY VALUED AT $1,340
		</p>
		<a class="btn btn-primary text-base font-semibold" href="#subscribe"
			>Enter To Win <MoveRight class="ml-1" stroke-width="1" /></a
		>
	</div>
</header>
