---
import { Image } from 'astro:assets';
import logo from '../../assets/logos/mb-original-logo.png';
import { Check, MoveRight } from 'lucide-astro';
import ProductSwiper from './ProductSwiper.astro';

const includedList = [
	'Motorbunny Original',
	'4 Attachments',
	'2 Springs, 2 Rods, 2 Risers',
	'Power Supply',
	'Regular Controller'
];
---

<section class="overflow-hidden">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="100%"
		height="57"
		viewBox="0 0 1440 57"
		fill="none"
		preserveAspectRatio="none"
		class="min-w-[700px] md:min-w-0"
	>
		<path
			d="M1182.79 44.0942C1088 34.2 988.536 14.725 892.608 6.74024C793.896 -1.49626 690.936 -1.01651 592.068 6.92549C522.66 12.4972 455.268 21.6837 385.668 26.809C256.336 36.2256 122.959 31.447 0 12.9912L0 57H1440V45.505C1358.63 56.487 1266.85 52.8722 1182.79 44.0942Z"
			fill="#242424"></path>
	</svg>
	<div class="bg-secondary py-6 text-base-200 md:py-16">
		<div class="mx-auto flex max-w-[1312px] flex-col-reverse gap-6 lg:flex-row">
			<div class="px-5 lg:py-7">
				<h2 class="mb-7 font-monsterrat text-[40px] font-bold text-white md:mb-8">
					What You’ll Win
				</h2>
				<Image src={logo} alt="logo" class="mb-6 h-auto w-[250px] md:mb-3" />
				<p class="mb-6">
					We're thrilled to announce that you have the chance to win the ultimate pleasure device:
					the Motorbunny Original! This classic ride-on-top vibrator is designed to rock your world
					with its powerful vibrations and rotations. With a variety of attachments for both him and
					her, app integration, and even fun games, there's something here for everyone to enjoy
				</p>
				<p class="text-lg text-primary">
					valued at<span class="ml-2 font-monsterrat text-2xl font-bold">$1,340</span>
				</p>
				<div class="mt-7 flex flex-col gap-2">
					<h3 class="text-lg font-bold">WHAT’S INCLUDED</h3>
					<ul class="flex flex-col gap-2">
						{
							includedList.map((item) => (
								<li class="flex items-center gap-3">
									<Check
										class="size-5 rounded-full bg-primary p-[2px] text-secondary"
										stroke-width="3"
									/>
									<span class="text-lg">{item}</span>
								</li>
							))
						}
					</ul>
				</div>
				<a class="btn btn-primary my-6 w-full max-w-[333px] text-base font-semibold md:mt-9"
					>Enter To Win <MoveRight class="ml-1" stroke-width="1" /></a
				>
			</div>
			<div>
				<ProductSwiper />
			</div>
		</div>
	</div>
</section>

<style>
	h2 {
		text-shadow: 3px 3px 0px #ff7992;
	}

	:root {
		--swiper-pagination-color: oklch(var(--p));
	}
</style>
