---
import Step from './Step.astro';
import { MoveRight } from 'lucide-astro';
import StepsSwiper from './StepsSwiper.astro';
import { Loader2 } from 'lucide-astro';
---

<section class="mx-auto max-w-[1440px] py-6 text-center md:py-14">
	<h2
		class="font-monsterrat text-[40px] font-bold leading-[45px] text-secondary"
		data-aos="fade-down"
	>
		As Easy As 1, 2, 3
	</h2>
	<div class="hidden justify-center gap-8 lg:flex">
		<Step
			number={1}
			title="Sign-up:"
			text="Sign-up for the giveaway to get the announcements."
			data-aos="fade-down"
			data-aos-delay="100"
		>
			<form action="/api/subscribe" method="POST" class="mb-1" id="steps-form">
				<div class="flex items-center gap-2">
					<input
						type="email"
						name="email"
						class="input input-bordered input-secondary w-full max-w-xs"
						placeholder="Email"
						required
					/>
					<button class="btn btn-secondary text-primary">
						<span class="block" id="steps-submit">Sign-Up</span>
						<span class="hidden" id="steps-loading"><Loader2 class="size-5 animate-spin" /></span>
					</button>
				</div>
				<p class="hidden font-semibold text-red-500" id="steps-error">
					Failed to subscribe, try again
				</p>
			</form>
		</Step>
		<Step
			number={2}
			title="Follow us on FetLife"
			text="We share giveaway details here and content you love."
			data-aos="fade-down"
			data-aos-delay="150"
		>
			<a
				href="https://fetlife.com/users/5002038"
				target="_blank"
				class="btn btn-secondary text-base font-semibold capitalize text-primary"
				>Follow on FetLife <MoveRight class="ml-1" /></a
			>
		</Step>
		<Step
			number={3}
			title="Join our Subreddit"
			text="Join the convo with other Motorbunny users & fans."
			data-aos="fade-down"
			data-aos-delay="200"
		>
			<a
				href="https://www.reddit.com/r/MotorBunny/"
				target="_blank"
				class="btn btn-secondary text-base font-semibold capitalize text-primary"
				>Subscribe to subreddit <MoveRight class="ml-1" /></a
			>
		</Step>
	</div>
	<div class="black px-4 lg:hidden" data-aos="fade-down" data-aos-delay="100"><StepsSwiper /></div>
</section>
<style>
	h2 {
		text-shadow: 3px 3px 0px #ff7992;
	}
</style>

<script>
	const form = document.getElementById('steps-form') as HTMLFormElement;
	const submit = document.getElementById('steps-submit');
	const loading = document.getElementById('steps-loading');
	const error = document.getElementById('steps-error');

	form.addEventListener('submit', async (e) => {
		e.preventDefault();
		submit.classList.remove('block');
		submit.classList.add('hidden');
		loading.classList.remove('hidden');
		error.classList.remove('block');

		const formData = new FormData(form);
		const response = await fetch(form.action, {
			method: form.method,
			body: formData
		});

		if (response.ok) {
			submit.classList.add('block');
			loading.classList.add('hidden');
			submit.classList.remove('hidden');
			submit.innerText = 'Redirecting...';
			return (window.location.href = '/win/thank-you');
		} else {
			submit.classList.add('block');
			submit.classList.remove('hidden');
			loading.classList.add('hidden');
			error.classList.add('block');
			error.classList.remove('hidden');
		}
	});
</script>
