---
import TestimonialsCard from './TestimonialsCard.astro';
import 'swiper/css/bundle';
import 'swiper/css/effect-coverflow';
import Review2 from '../../assets/images/review-1.jpg';
import Review1 from '../../assets/images/review-3.jpg';
import Review3 from '../../assets/images/review-4.jpg';
import { ArrowLeft, ArrowRight } from 'lucide-astro';

const testimonials = [
	{
		image: Review1,
		message:
			'I have never seen a woman more excited than when I showed her the picture of my new Motor Bunny, except maybe the look on her face when she rode it for it for the first time! It’s my new favorite accessory.',
		title: 'Great addition to my collection',
		location: 'A.L. - Florida, USA',
		imageAlt: 'motorbunny sex machine with pink dildo attachment sitting on bed'
	},
	{
		image: Review2,
		message:
			'I purchased the motor bunny two weeks ago and my wife has used it several times, each time she uses it she orgasms so hard that have to help her off the machine and it takes about 10minutes for her to be able to stand without trembling. Wish I would have bought one years earlier.',
		title: 'She Loves it',
		location: 'S.L. - Colorado, USA',
		imageAlt: 'pink motorbunny dildo attachments sitting on bed'
	},
	{
		image: Review3,
		message:
			'There’s orgasms and then there’s ORGASMS. This thing sent my girl to the other side. I myself have turned the clock back in age and experience with the jiggle butt attachment; once it hits 11 I become a minuteman. This is very well built, the design, ergonomics, the engineering; it’s biblical in it’s euphoria. ',
		title: 'Peter the Mysterious',
		location: 'M.M. - Texas, USA',
		imageAlt: 'motorbunny with dildo attachment on the floor'
	}
];
---

<div class="testimonials-container">
	<div class="swiper testimonials w-full pb-20 pt-8">
		<div class="relative top-[425px] mx-auto max-w-[550px] select-none">
			<div class="swiper-button-next size-10 rounded-full bg-secondary p-2 after:content-['']">
				<ArrowRight class="text-white" />
			</div>
			<div class="swiper-button-prev size-10 rounded-full bg-secondary p-2 after:content-['']">
				<ArrowLeft class="text-white" />
			</div>
		</div>
		<div class="swiper-wrapper w-full">
			{
				testimonials.map((testimonial) => (
					<div class="swiper-slide ml-5 mr-3 h-full w-fit md:ml-0 md:mr-0">
						<TestimonialsCard {...testimonial} />
					</div>
				))
			}
		</div>
		<div class="swiper-pagination testimonial-pagination"></div>
	</div>

	<script>
		import Swiper from 'swiper';

		var swiper = new Swiper('.testimonials', {
			effect: 'coverflow',
			grabCursor: true,
			centeredSlides: true,
			slidesPerView: 'auto',
			initialSlide: 1,
			roundLengths: true,
			coverflowEffect: {
				rotate: 11,
				stretch: 120,
				depth: 54,
				slideShadows: true
			},
			pagination: {
				el: '.testimonial-pagination',
				clickable: true
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev'
			},
			breakpoints: {
				700: {
					coverflowEffect: {
						rotate: 0
					}
				}
			}
		});
	</script>

	<style is:global>
		.swiper-3d .swiper-slide-shadow-right {
			background-image: linear-gradient(
				to left,
				rgba(255, 121, 146, 0.5),
				rgba(255, 121, 146, 0.5)
			);
		}
		.swiper-3d .swiper-slide-shadow-left {
			background-image: linear-gradient(
				to left,
				rgba(255, 121, 146, 0.5),
				rgba(255, 121, 146, 0.5)
			);
			opacity: 0.5;
		}

		.testimonials-container .swiper-pagination-bullet-active {
			background-color: oklch(var(--s)) !important;
		}
		.testimonials-container .swiper-pagination-bullet {
			background-color: #d1d5db;
			opacity: 1;
		}
	</style>
</div>
