---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../sections/Hero.astro';
import CompanyLogos from '../components/CompanyLogos.astro';
import VideoComp from '../sections/VideoComp.astro';
import FeatureComp from '../sections/FeatureComp.astro';
import AppFeatures from '../sections/AppFeatures.astro';
import Attachments from '../sections/Attachments.astro';
import Partnerships from '../sections/Partnerships.astro';
import Covers from '../sections/Covers.astro';
import Reviews from '../sections/Reviews.astro';
import TableComp from '../sections/TableComp.astro';
import Offers from '../sections/Offers.astro';
import HowItWorks from '../sections/HowItWorks.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title="Motorbunny vs. Sybian - 2024 Comparison"
	description="Why Motorbunny beats Sybian. More power, more features, and packed with cutting edge technology."
>
	<Header />
	<Hero subtitle="Why Motorbunny Beats Sybian (2024)" />
	<CompanyLogos />
	<main>
		<VideoComp />
		<FeatureComp />
		<AppFeatures />
		<Attachments />
		<Partnerships />
		<Covers />
		<Reviews />
		<TableComp />
		<Offers />
		<HowItWorks />
	</main>
	<Footer />
</Layout>
