---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../sections/Hero.astro';
import CompanyLogos from '../components/CompanyLogos.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<Hero subtitle="Why Motorbunny Beats Sybian (2024)" />
	<CompanyLogos />
	<main></main>
</Layout>
