---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CompanyLogos from '../components/CompanyLogos.astro';
import VideoComp from '../sections/VideoComp.astro';
import AppFeatures from '../sections/AppFeatures.astro';
import Attachments from '../sections/Attachments.astro';
import Covers from '../sections/Covers.astro';
import Reviews from '../sections/Reviews.astro';
import HowItWorks from '../sections/HowItWorks.astro';
import Footer from '../components/Footer.astro';
import FAQ from '../sections/FAQ.astro';
import QuoteCTA from '../sections/QuoteCTA.astro';
import ValueProps from '../components/ValueProps.astro';
import Subscribe from '../sections/Subscribe.astro';
import Travel from '../sections/Travel.astro';
// sybian specific
import Offers from '../sections/sybian/Offers.astro';
import Hero from '../sections/sybian/Hero.astro';
import FeatureComp from '../sections/sybian/FeatureComp.astro';
import Partnerships from '../sections/sybian/Partnerships.astro';
import TableComp from '../sections/sybian/TableComp.astro';
---

<Layout
	title="Motorbunny vs. Sybian - 2024 Comparison"
	description="Why Motorbunny beats Sybian. More power, more features, and packed with cutting edge technology."
>
	<Header />
	<Hero subtitle="Why Motorbunny Beats Sybian (2024)" />
	<CompanyLogos />
	<main>
		<VideoComp />
		<FeatureComp />
		<AppFeatures />
		<Attachments />
		<Partnerships />
		<Covers />
		<Reviews />
		<TableComp />
		<Offers />
		<Travel />
		<HowItWorks />
		<QuoteCTA />
		<ValueProps />
		<FAQ />
		<Subscribe />
	</main>
	<Footer />
</Layout>
