---
import { Image } from 'astro:assets';
import logo from '../assets/logos/motorbunny-com-logo-pink.png';
import bunny from '../assets/icons/bunny-icon.png';
---

<header class="sticky inset-0 z-50 mx-auto max-w-[1440px] bg-neutral/90 p-2">
	<div class="flex items-center justify-between">
		<a href="https://motorbunny.com">
			<Image class="max-w-[150px] sm:max-w-[200px]" src={logo} alt="motorbunny.com logo" />
		</a>
		<div class="flex items-center justify-center gap-4">
			<div id="mb-spin" class="mb-tg-spin indicator">
				<span id="signup-indicator" class="badge indicator-item badge-primary badge-xs"></span>
				<div id="bunny-icon" class="cursor-pointer">
					<svg
						width="30"
						height="41"
						viewBox="0 0 30 41"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M25.0827 26.2083C24.541 25.8542 23.791 24.9375 23.4368 24.5C25.916 21 29.5827 14.4792 29.5827 6.41666C29.5827 2.35416 28.041 0.166656 25.416 0.166656C22.2077 0.166656 17.166 4.45832 14.9993 12.6042C12.8327 4.45832 7.79102 0.166656 4.58268 0.166656C1.95768 0.166656 0.416016 2.35416 0.416016 6.41666C0.416016 14.4792 4.08268 21 6.56185 24.5C6.20768 24.9375 5.45768 25.8542 4.91602 26.2083C3.87435 27.1042 1.45768 29.1042 1.45768 32.4583C1.45768 37.0625 5.18685 40.7917 9.79102 40.7917C13.0202 40.7917 14.9993 39.625 14.9993 39.625C14.9993 39.625 16.9785 40.7917 20.2077 40.7917C24.8119 40.7917 28.541 37.0625 28.541 32.4583C28.541 29.1042 26.1244 27.1042 25.0827 26.2083ZM9.47852 21.4167C7.37435 18.2917 4.58268 12.9167 4.58268 6.41666C4.58268 5.37499 4.70768 4.74999 4.83268 4.39582C6.79102 5.04166 11.5827 10.0417 11.8743 20.3125C10.8952 20.5625 10.1244 20.9375 9.47852 21.4167ZM11.8743 30.8958C11.291 30.8958 10.8327 30.1875 10.8327 29.3333C10.8327 28.4792 11.291 27.7708 11.8743 27.7708C12.4577 27.7708 12.916 28.4792 12.916 29.3333C12.916 30.1875 12.4577 30.8958 11.8743 30.8958ZM14.9993 36.625C13.8535 36.625 12.916 35.125 12.916 34.5417C12.916 33.9583 13.8535 33.5 14.9993 33.5C16.1452 33.5 17.0827 33.9583 17.0827 34.5417C17.0827 35.125 16.1452 36.625 14.9993 36.625ZM18.1243 30.8958C17.541 30.8958 17.0827 30.1875 17.0827 29.3333C17.0827 28.4792 17.541 27.7708 18.1243 27.7708C18.7077 27.7708 19.166 28.4792 19.166 29.3333C19.166 30.1875 18.7077 30.8958 18.1243 30.8958ZM18.1243 20.3125C18.416 10.0417 23.2077 5.04166 25.166 4.39582C25.291 4.74999 25.416 5.37499 25.416 6.41666C25.416 12.9167 22.6243 18.2917 20.5202 21.4167C19.8743 20.9375 19.1035 20.5625 18.1243 20.3125Z"
							fill="white"></path>
					</svg>
				</div>
			</div>
			<a href="#offers" class="btn btn-primary">View Offers</a>
		</div>
	</div>
</header>

<script>
	const signupModalButton = document.getElementById('bunny-icon');
	const signupIndicator = document.getElementById('signup-indicator');
	function handleClick() {
		console.log('Open Spin-to-Win!');
		signupIndicator.classList.add('hidden');
	}
	signupModalButton.addEventListener('click', handleClick);
</script>
