---
type Props = {
	bg?: 'light' | 'neutral';
	id?: string;
};

const { bg, id } = Astro.props;
---

<section
	id={id}
	class={`${
		bg === 'light' ? 'bg-white' : bg === 'neutral' ? 'bg-secondary' : ''
	} max-w-[1440px] mx-auto w-full px-2 py-12`}
>
	<div class="mx-auto w-full max-w-screen-xl">
		<slot />
	</div>
</section>
