---
import { Image } from 'astro:assets';

type Props = {
	title: string;
	subtitle?: string;
	src?: ImageMetadata;
	color?: 'light' | 'dark' | 'primary';
};

const { title, subtitle, src, color } = Astro.props;
---

<div class="w-full space-y-4 text-center">
	<h2
		class="mx-auto flex max-w-[800px] flex-col items-center justify-center gap-x-4 text-balance text-4xl font-bold sm:flex-row sm:text-5xl"
	>
		<span
			class={`${src ? 'mt-4' : ''} ${
				color === 'light'
					? 'text-white'
					: color === 'dark'
						? 'text-black'
						: color === 'primary'
							? 'text-primary'
							: ''
			}`}>{title}</span
		>
		{src && <Image class="max-w-[300px]" src={src} alt="" />}
	</h2>
	{
		subtitle && (
			<p
				class={`${
					color === 'light' ? 'text-white' : ''
				} 'mt-4 sm:text-3xl' text-balance text-2xl font-semibold text-primary`}
			>
				{subtitle}
			</p>
		)
	}
</div>

<style>
	h2 {
		text-shadow: 3px 3px 0px #ff7992;
	}
</style>
