---
import SectionTitle from '../components/SectionTitle.astro';
---

<section
	class="mx-auto mt-12 w-full max-w-[1440px] bg-[url('/bad-dragon-orochi.jpg')] bg-cover bg-center py-[100px] xl:py-[200px]"
>
	<div class="flex w-full flex-col items-center justify-center space-y-6">
		<SectionTitle color="light" title="Feeling Lucky?" subtitle="Spin to Win a FREE Motorbunny" />
		<button id="mb-spin" class="mb-tg-spin btn btn-primary btn-lg btn-wide">WIN A MOTORBUNNY</button
		>
	</div>
</section>
