---
import { Image } from 'astro:assets';
import logo from '../assets/logos/motorbunny-logo-pink.png';
import avn from '../assets/images/avn-badge.png';
import heroMobile from '../assets/images/hero-image-mobile.jpg';
import HeroCallouts from '../components/HeroCallouts.astro';

type Props = {
	subtitle: string;
};

const { subtitle = 'Frottage sex enhancer' } = Astro.props;
---

<section class="pb-12 pt-8 md:pb-0 md:pt-0">
	<div
		class="mx-auto flex w-full max-w-[1440px] flex-col bg-cover bg-center bg-no-repeat px-2 md:min-h-[847px] md:bg-[url('/hero-image-desktop.jpg')]"
	>
		<div class="mx-auto w-full max-w-screen-xl">
			<h1 class="flex flex-col items-center gap-x-4 text-4xl font-bold sm:text-7xl md:flex-row">
				<Image class="max-w-[250px] md:max-w-none" src={logo} alt="motorbunny logo" />
				<span class="uppercase md:mt-12">vs sybian</span>
			</h1>
			<p
				class="mt-2 w-full text-balance text-center text-2xl uppercase text-white sm:text-3xl md:text-left"
			>
				{subtitle}
			</p>
		</div>
		<div class="mx-auto hidden w-full max-w-screen-xl md:grid md:grid-cols-2 md:self-stretch">
			<div
				class="mx-auto mt-8 flex w-full flex-col items-baseline justify-center text-center md:mt-0 md:text-left"
			>
				<div>
					<HeroCallouts />
					<a href="#watch" class="btn btn-primary btn-lg mt-14 uppercase">Watch The Comparison</a>
				</div>
			</div>
			<!-- <div class="relative hidden w-full md:block">
				<Image class="absolute right-0 top-0" src={avn} alt="avn award badge" />
			</div> -->
		</div>
	</div>
	<Image
		class="mt-8 w-full md:hidden"
		src={heroMobile}
		alt="CockBlock frot toy a sex toy for gay men"
	/>
	<div class="flex flex-col items-center justify-center px-2 md:hidden">
		<HeroCallouts />
		<a href="#watch" class="btn btn-primary btn-lg mt-8 uppercase">Watch The Comparison</a>
	</div>
</section>

<style>
	h1,
	span {
		font-family: 'Montserrat', sans-serif;
	}
</style>
