---
import { Image } from 'astro:assets';
import SectionTitle from '../components/SectionTitle.astro';
import bgdesktop from '../../public/mb-model.jpg';
import bgmobile from '../assets/images/mb-model-mobile.jpg';
---

<section class="max-w-[1440px]">
	<div class="relative">
		<Image class="hidden md:block" src={bgdesktop} alt="" />
		<Image class="md:hidden" src={bgmobile} alt="" />
		<div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform">
			<SectionTitle
				color="dark"
				title=" I've never climaxed so hard or so many times in my life."
			/>
			<div class="mt-12 flex w-full items-center justify-center">
				<a href="#" class="btn btn-primary btn-lg">HOP ON FOR $0 DOWN</a>
			</div>
		</div>
	</div>
</section>
