---
import { Image } from 'astro:assets';
import SectionTitle from '../components/SectionTitle.astro';
import bgdesktop from '../../public/mb-model.jpg';
import bgmobile from '../assets/images/mb-model-mobile.jpg';
---

<section class="mx-auto max-w-[1440px]">
	<div class="relative w-full">
		<Image class="hidden md:block" src={bgdesktop} alt="" />
		<Image class="md:hidden" src={bgmobile} alt="" />
		<div
			class="absolute left-1/2 top-1/2 flex h-full max-h-[400px] w-full -translate-x-1/2 -translate-y-1/2 transform flex-col justify-between md:top-[300px] md:flex-none md:justify-normal"
		>
			<p class="text-balance text-center text-2xl font-bold text-black sm:text-4xl md:text-5xl">
				"I've never climaxed so hard or so many times in my life."
			</p>
			<div class="mb-tg-spin mt-12 flex w-full items-center justify-center">
				<button id="mb-spin" class="mb-tg-spin btn btn-primary btn-lg">WIN A MOTORBUNNY</button>
			</div>
		</div>
	</div>
</section>

<style>
	p {
		text-shadow: 2px 2px 0px #ff7992;
	}
</style>
