---
import { Image } from 'astro:assets';
import heroMobile from '../../assets/images/hero-image-mobile.jpg';
import logo from '../../assets/logos/motorbunny-logo-pink.png';
import HeroCallouts from '../../components/HeroCallouts.astro';

type Props = {
	subtitle: string;
};

const { subtitle } = Astro.props;
---

<section class="pb-12 md:pb-0 md:pt-0">
	<div
		class="mx-auto flex w-full max-w-[1440px] flex-col bg-cover bg-center bg-no-repeat px-2 md:min-h-[847px] md:bg-[url('/hero-image-desktop.jpg')]"
	>
		<div class="mx-auto mt-8 w-full max-w-screen-xl md:px-8 xl:px-0">
			<h1
				class="flex flex-col items-center gap-x-4 text-4xl font-bold sm:text-7xl lg:flex-row lg:items-center"
			>
				<Image class="max-w-[250px] md:max-w-none" src={logo} alt="motorbunny logo" />
				<span class="uppercase lg:mt-12">vs sybian</span>
			</h1>
			<p
				class="mt-2 w-full text-balance text-center text-2xl uppercase text-white sm:text-3xl md:text-left"
			>
				{subtitle}
			</p>
			<div class="hidden md:block">
				<HeroCallouts />
				<a href="#watch" class="btn btn-primary btn-lg mt-14 uppercase">Watch The Comparison</a>
			</div>
		</div>
	</div>
	<Image
		class="mt-8 h-[500px] w-full object-cover object-center md:hidden"
		src={heroMobile}
		alt="motorbunny"
	/>
	<div class="flex flex-col items-center justify-center px-2 md:hidden">
		<HeroCallouts />
		<a href="#watch" class="btn btn-primary btn-lg mt-8 uppercase">Watch The Comparison</a>
	</div>
</section>

<style>
	h1,
	span {
		font-family: 'Montserrat', sans-serif;
	}
</style>
